html {
    background-color: #161616;
}
body {
    margin: auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #ccc;
    font-size: 14px;
    line-height: 21px;
}
.wrappp {
    margin-top: 30px;
    margin-bottom: 100px;
    width: 80%;
    text-align: left;
}
.wrappp a {
    color: coral;
}
.wrappp a:hover {
    color: rgb(255, 176, 147);
}
.note {
    font-family: 'Share Tech Mono', monospace;
    color: rgb(255, 176, 147);
}
.wrappp u {
    color: #fff;
}
.subnote {
    font-family: 'Share Tech Mono', monospace;
    font-size: 12px;
    margin-top: -4px;
    margin-bottom: 5px;
    color: #ccc;
}
table {
    position: absolute;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

table .tiny{
    position: relative;
    height: 10%;
    width: 80%;
    border-collapse: collapse;
}
#navbar {
    background-color: rgb(39, 39, 39);
    vertical-align: top;
    padding: 10px;
    font-family: 'Share Tech Mono', monospace;
    width: 30px;
    font-size: 15px;
    text-transform: uppercase;
}
#navbar img {
    margin: auto;
    margin-top:5px;
}
#navbar .textbar {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin: 7px auto;
}
#navbar .textbar a {
    text-decoration: none;
    font-weight: 400;
}
#navbar .textbar a:hover {
    text-decoration: none;
}
#tablebody {
    padding-left:15%;
    vertical-align: top;
}
.notice {
    width: 80%;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 0px 17px 0px 17px;
    background: #20202e;
    border: 1px solid #232355;
    border-radius: 10px;
    color: rgb(218, 218, 218);
    font-family: monospace;
}
.notice b {
    color: #fd3b3b;
}
.notice b.title {
    letter-spacing: 7px;
    font-size: 20px;
}
a {
    text-decoration: underline;
    color: rgb(255, 255, 255);
    transition: all 0.5s ease;
}
a:hover {
    text-decoration: underline;
    color: coral;
    transition: all 0.5s ease;
}
h1 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
    font-weight: normal;
    margin: 0px;
    color: #fff;
}
h1 a {
    text-decoration: none;
}
h1 a:hover {
    text-decoration: none;
}
h2 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 17px;
    font-weight: normal;
    margin-top: 27px;
    margin-bottom: 1px;
    color: #fff;
}
.updatedon {
    font-family: 'Share Tech Mono', monospace;
    float: right;
    font-size: 12px;
    color: #4e4e4e;
}