/* 
    

    font-family:'Helvetica', 'Arial', 'Sans-Serif';
*/

html {
    background-color: #161616;
}
body {
    margin: auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #ccc;
    font-size: 15px;
}
.note {
    font-family: 'Share Tech Mono', monospace;
    color: lightpink;
}
table {
    position: absolute;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
#navbar {
    background-color: rgb(39, 39, 39);
    vertical-align: top;
    padding: 10px;
    font-family: 'Share Tech Mono', monospace;
}
#navbar img {
    margin: auto;
}
#navbar .textbar {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin: 7px auto;
}
#tbody {
    padding-left:15%;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.5s ease;
}
a:hover {
    text-decoration: none;
    color: #fc5788;
    transition: all 0.5s ease;
}
h1 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
    font-weight: normal;
    margin: 0px;
    color: #fff;
}
